#navbar {
    //display: none;
    display:flex;
    justify-content: flex-end;
    //position: fixed;
    //top: 0;
    //width: 100%;
    //color: white;
    //width: 150px;
    //position: absolute;
    right: 0px;
    //top: -$navHeight;
    //background: $navBackgroundColor;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 3px;
    img {
        width: 37px;
    }
    .fa-cog {
        font-size: 21px;
    }
    .fa-question {
        font-size: 21px;
    }
    .dropdown-menu {
        //background: $navBackgroundColor;
        background: white;
        right: 0;
        left: auto;
        min-width: inherit;
        padding: 2px 0;
        li {
            background: white;
            a {
                color: $navBackgroundColor;
            }
            &:hover {
                //background: white;
                background: $navBackgroundColor;
                a {
                    //color: $navBackgroundColor;
                    color: white;
                }
            }
            a:focus, a:hover {
                background-color: inherit;
            }
        }
    }
    > li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $navHeight;
        .icon-container {
            display: flex;
            align-items: center;
        }
        > a {
            transition: all .5s ease;
            text-decoration: none;
            padding: 6px;
        }
    }
    a {
        color: $textColor;
        font-weight: bold;
    }
    .gravatar-li {
        //min-width: 160px;
        .gravatar-container {
            margin-left: 5px;
            display: flex;
            align-items: center;
            .gravatar {
                border-radius: 8px;
                height: 32px;
            }
        }
    }
    .show-dropdown {
        a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span:first-child {
                margin-right: 17px;
            }
            .fa-check {
                font-size: 17px;
            }
        }
        a[disabled=true] {
            cursor: not-allowed;
        }
        .disabled {
            color: #777;
            font-weight: bold;
            text-align: center;
            &:hover {
                background: white;
            }
        }
    }



    @media (max-width: $breakpoint2) {
        li {
            min-width: 40px;
        }

    }
    @media (max-width: $breakpoint1) {
        a {
            font-size: 12px;
        }
    }
}

//
//@media all and (max-width: 500px) {
//	#nav {
//		.fa {
//			font-size: 14px;
//		}
//	}
//}